<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sdp.drone3d">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Drone3D"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drone3D"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.mission.MissionStartActivity"
            android:parentActivityName=".ui.mission.ItineraryShowActivity" />
        <activity
            android:name=".ui.map.offline.ManageOfflineMapActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.weather.WeatherInfoActivity"
            android:parentActivityName=".ui.mission.ItineraryShowActivity" />
        <activity android:name=".ui.map.MissionInProgressActivity" />
        <activity android:name=".ui.mission.MissionPicturesActivity" />
        <activity
            android:name=".ui.mission.ItineraryShowActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.mission.MappingMissionSelectionActivity" />
        <activity
            android:name=".ui.mission.MappingMissionSelectionActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.mission.ItineraryCreateActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.mission.SaveMappingMissionActivity"
            android:parentActivityName=".ui.mission.ItineraryCreateActivity" />
        <activity
            android:name=".ui.drone.DroneConnectActivity"
            android:parentActivityName=".ui.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.drone.ConnectedDroneActivity"
            android:parentActivityName=".ui.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TempTestActivity"
            android:parentActivityName=".ui.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
    </application>

</manifest>